* {
    padding: 0;
    margin: 0;
    color: black;
    font-family: sans-serif;
}

body {
    background-color: black;
    display: flex;
}

.img-box {
    width: 50px;
    height: 50px;
    border-radius: 80%;
    overflow: hidden;
    border: 3px solid white;
    flex-shrink: 0;
}

.img-box img {
    width: 100%;
}

.profile {
    display: flex;
    align-items: center;
    gap: 30px;
}

.profile h2 {
    font-size: 20px;
    text-transform: capitalize;
}

.menu {
    background-color: green;
    width: 50px;
    height: 100vh;
    padding: 20px;
    overflow: hidden;
    transition: .5s;
}

.menu:hover {
    width: 260px;
}

ul {
    list-style: none;
    position: relative;
    height: 95%;
}

ul li a {
    display: block;
    text-decoration: none;
    background-color: blue;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 40px;
    transition: 0.5s;
}

ul li a:hover, .active, .data-info .box:hover {
    background-color: grey;
}

.log-out {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.log-out a {
    background-color: red;
}

ul li a i {
    font-size: 20px;
}

.content {
    background-color: black;
    width: 100%;
    padding: 20px; 
}

.title-info {
    background-color: red;
    padding: 1px 1px; /* Adjust the top and bottom padding (5px) and left and right padding (10px) */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: black;
    margin-bottom: 10px; /* Add space below the title */
    gap: 5px; /* Adds space between the text and the image */
}

.title-info p {
    font-size: 45px; /* Adjust the size as needed */
    font-weight: bold; /* Optional: Make the text bold */
    margin: 100px; /* Removes default margin from the <p> tag */
}

.title-info img {
    width: 250px; /* Set image width */
    height: 250px; /* Set image height */
}



.title-info2 {
    background-color: blue;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    margin-bottom: 20px; /* Add space below the title */
}

.data-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px; /* Add space below the boxes */
}

.data-info .box {
    background-color: grey;
    height: 150px;
    flex-basis: 150px;
    flex-grow: 1;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.data-info .box i {
    font-size: 40px;
}

.data-info .box .data {
    text-align: center;	
}

.data-info .box .span { 
    font-size: 30px;
}
.data-info .box:hover{
	background-color:#6563f6;
}

table {
    width: 100%; 
	text-align:center;
	border-spacing: 8px;
}

td,th{
	background-color:#bc69fe;
	height:40px;
	border-radius:8px;
}

th{
	background-color:pink;
}
td:hover{
	background-color:#68bfaf;
}

.price, .count{
	padding:6px;
	border-radius:6px;
}

.price{
	background-color:green;
}
.count{
	background-color:gold;
	color:black;
}